.slider{
    margin: 0 auto;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}
.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}
.slide img{
    width: 800px;
}
 .manual_navegacao{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
.manual_btn{
    border: 2px solid black;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
.manual_btn:not(:last-child){
    margin-right: 40px;
}
.manual_btn:hover{
    background-color: aliceblue;
}
#input_radio1:checked ~ .first{
margin-left: 0;
}
#input_radio2:checked ~ .first{
margin-left: -25%;
}
#input_radio3:checked ~ .first{
margin-left: -50%;
}
#input_radio4:checked ~ .first{
margin-left: -75%;
}

.navegacao_automatica div{
    border: 2px solid navy;
    padding: 5px;
    cursor: pointer;
    border-radius: 10px;
    transition: 1s;
}
.navegacao_automatica{
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}
.navegacao_automatica div:not(:last-child){
    margin-right: 40px;
}

#input_radio1:checked ~ .navegacao_automatica .auto_btn1{
   background-color: #fff;
}

#input_radio2:checked ~ .navegacao_automatica .auto_btn2{
   background-color: #fff;
}

#input_radio3:checked ~ .navegacao_automatica .auto_btn3{
   background-color: #fff;
}

#input_radio4:checked ~ .navegacao_automatica .auto_btn4{
   background-color: #fff;
}