@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Inter';
    color: #fff;
}
body{
     height: 100vh;
    width: auto;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
}

section{
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.boxCategoria{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 15%;
    background-color: blue;
    cursor: pointer;
}
.tittleAnime{
    font-size: 1rem;
}

nav{
    background-color: #23252b;
    width: 80%;
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    color: #fff;
}
.logo{
    width: 240px;
}
.user_pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer; 
    margin-left: 30px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    border: 3px solid #ccc;
}
nav ul{
    width: 100%;
    text-align: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.sub_menu_wrap{
    position: absolute;
    top: 100%;
    right: 0;
    width: 320px;
    max-height: 0px;
    transition: max-height 0.5s;
    z-index: 999;
    overflow: hidden;
}
.sub_menu_wrap.open_menu{
    max-height: 400px;
}
.sub_menu{
    background-color: #000;
    padding: 20px;
    margin: 10px;
}
.user_info{
    display: flex;
    align-items: center;
}
.user_info h3{
    color: #fff;
    font-weight: 500;
}
.user_info img{
    width: 60px;
    height: 60px;
    margin-right: 15px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ccc;
}
.sub_menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background-color: #ccc;
    margin: 15px 0 10px;
}

.sub_menu_link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    margin: 12px 0;
    text-align: center;
}
.sub_menu_link p{
    width: 100%;
}
.sub_menu_link img{
    width: 30px;
    background-color: #e5e5e5;
    border-radius:50%;
    padding: 8px;
    margin-right: 15px;
}
.sub_menu_link span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub_menu_link:hover span{
    transform: translateX(5px);
}
.sub_menu_link:hover p{
    font-weight: 600;
}
footer .container{
    min-height: 40vh;
    width: 100%;
    background-color: #23252b;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
footer .informacoes{
    width: 50%;
    background-color: #23252b;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer hr{
    width: 80%;
    border: 1px solid #fff;
}
footer .informacoes a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
}
.noAnimeMessage {
    font-size: 1.5em;
    color: #999;
    text-align: center;
    margin-top: 20px;
}
